# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
/frontend/build
/frontend/.env
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 