[Unit]
Description=Logviewer of HES logs via browser
After=syslog.target


[Service]
SyslogIdentifier=logviewer
User=logviewer
WorkingDirectory=/opt/logviewer
ExecStart=/usr/bin/java -Xmx256m -jar /opt/logviewer/logviewer.jar --spring.config.location=classpath:/application-prod.yml,file:/etc/logviewer/application.yml
Type=simple

[Install]
WantedBy=multi-user.target
